@model CategoryViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4 mb-3">Edit @Model.Name</h1>
<div class="container-fluid mx-3">
    <form asp-controller="Category" asp-action="Edit" method="post">
        <input hidden asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
        <a class="btn btn-primary" asp-controller="Category" asp-action="Details" asp-route-id="@Model.Id">Discard</a>
    </form>
</div>